<div class="page-header">
        <h3 style="margin-top:5px;">Desafio Aditum</h3>
</div>

<div class="container">
    @Html.Partial("_FilterPartial")
    <hr />
    <div class="form-result" id="reload">
    </div>
</div>